<template>
  <div id="AlbumList">
      <div>
        <section class="pb-4">
            <div class="bg-white border rounded-5">
                <section class="p-4 d-flex justify-content-center text-center w-100">
                    <ol class="list-group list-group-numbered" style="min-width: 22rem;">
                        <li v-for="album in albums" :key="album.name" class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                            <div class="fw-bold">{{album.name}}</div>
                           {{album.year}} - {{ artist.name }}
                            </div>
                            <span class="btn bg-success rounded-pill mr-3"><i class="fas fa-edit"></i></span>
                            <span v-if="this.role === 1" class="btn bg-danger rounded-pill"><i class="fas fa-trash-alt"></i></span>
                        </li>
                    </ol>
                </section>
                <div class="p-4 text-center border-top">
                    <button
                        type="button"
                        class="btn btn-primary m-1"
                        data-mdb-toggle="modal"
                        data-mdb-target="#exampleModal"
                        >
                        Add Album
                    </button>
                </div>
                <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
                >
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Album</h5>
                        <button
                        type="button"
                        class="btn-close"
                        data-mdb-dismiss="modal"
                        aria-label="Close"
                        ></button>
                    </div>
                    <div class="modal-body">
                        <section class="w-100 p-4 d-flex justify-content-center pb-4">
                            <div class="form-outline" style="width: 22rem;">
                            <input type="text" id="albumName" class="form-control" v-model="addAlbum.name">
                            <label class="form-label" for="albumName" style="margin-left: 0px;">Album Name</label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;">
                                    </div>
                                    <div class="form-notch-middle" style="width: 64px;">
                                    </div>
                                    <div class="form-notch-trailing">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="w-100 p-4 pt-0 d-flex justify-content-center pb-4">
                            <div class="form-outline" style="width: 22rem;">
                                <select class="form-select" id="selectArtist" aria-label="Default select example">
                                    <option v-for="artist in artists" :key="artist[0].id" :value="artist[0].id">{{ artist[0].name }}</option>
                                </select>
                            </div>
                        </section>
                        <section class="w-100 p-4 pt-0 d-flex justify-content-center pb-4">
                            <div class="form-outline" style="width: 22rem;">
                            <input type="text" id="albumYear" class="form-control" v-model="addAlbum.year">
                            <label class="form-label" for="albumYear" style="margin-left: 0px;">Album Year</label>
                                <div class="form-notch">
                                    <div class="form-notch-leading" style="width: 9px;">
                                    </div>
                                    <div class="form-notch-middle" style="width: 64px;">
                                    </div>
                                    <div class="form-notch-trailing">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                        Close
                        </button>
                        <button type="button" class="btn btn-primary" @click="createAlbum()" data-mdb-dismiss="modal">Save</button>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>  
  </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'AlbumList',
    data() {
        return {
            albums:{},
            addAlbum:{},
            artists:{},
            role:'',
            artist: {}
        }
    },
    methods: {
        fetchAlbums() {
            const token = localStorage.getItem('Bearer');
            axios.get('http://api.winassessoria.com/public/api/v1/album', {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            })
            .then(res => this.albums = res.data.data )
        },
        fetchArtists() {
            const token = localStorage.getItem('Bearer');
            axios.get('http://api.winassessoria.com/public/api/v1/artist', {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            })
            .then(res => {
                this.artists = res.data;
                console.log(this.artists);
            })
        },
        createAlbum() {
            const token = localStorage.getItem('Bearer');
            var e = document.getElementById("selectArtist");
            var artistId = e.options[e.selectedIndex].value;
            const headers = {'Authorization':'Bearer ' + token}
            axios.post('http://api.winassessoria.com/public/api/v1/album/create', {
                'name':this.addAlbum.name,
                'year':this.addAlbum.year,
                'artist_id':Number(artistId)
            }, {headers})
        },
        fetchArtistById(artistId) {
            const token = localStorage.getItem('Bearer');
            axios.get('http://api.winassessoria.com/public/api/v1/artist/' + artistId, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            })
            .then(res => {
                this.artist.name = res.data[0].name;
                this.artist.twitter = res.data[0].twitter;
                console.log(this.artist.name, this.artist.twitter);
            })

            return this.artist
        },
        roleValidation() {
            this.role = localStorage.getItem('userProfile');
            console.log(this.role);
        }
    },
    mounted () {
        this.fetchAlbums();
        this.fetchArtists();
        this.roleValidation();
    }
}
</script>

<style>

</style>