<template>
  <div id="home">
    <img src="https://www.moat.ai/images/cropped-moat-logo-small.png" alt="">
    <div v-if="auth === 'login'" class="container mt-5 px-lg-5 align-content-center">
      <Login />
    </div>
    <div v-else class="container mt-5 px-lg-5 align-content-center">
      <AlbumList />
    </div>
  </div>
</template>

<script>
import Login from '../components/Login.vue';
import AlbumList from './AlbumList.vue';
import axios from 'axios';
export default {
  name: 'Home',
  components: {
    Login,
    AlbumList
  },
  data() {
    return {
      auth: 'list'
    }
  },
  methods: {
    tokenVerify() {
      const token = localStorage.getItem('Bearer');
      if (!token) {
        this.auth = 'login';
        return;
      }

      axios.get('https://api.winassessoria.com/public/api/v1/me', {
         headers: {
            'Authorization': 'Bearer ' + token
          }
      })
      .then(res => localStorage.setItem('userProfile', res.data.user_profile_id));
    }
  },
  mounted () {
    this.tokenVerify();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#home {
  align-content: center;
}
</style>
