<template>
  <div id="login" class="">
     <div class="bg-white border rounded-5">
        <div class="p-4 text-center border-top">
            <h3>Login</h3>
        </div>
        <div v-if="login">
            <section class="w-100 p-4 d-flex justify-content-center pb-4">
                <div class="form-outline" style="width: 22rem;">
                <input type="text" id="typeText" class="form-control" v-model="userName">
                <label class="form-label" for="typeText" style="margin-left: 0px;">User Name</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;">
                        </div>
                        <div class="form-notch-middle" style="width: 64px;">
                        </div>
                        <div class="form-notch-trailing">
                        </div>
                    </div>
                </div>
            </section>
            <section class="w-100 p-4 pt-0 d-flex justify-content-center pb-4">
                <div class="form-outline" style="width: 22rem;">
                <input type="password" id="typePassword" class="form-control" v-model="password">
                <label class="form-label" for="typePassword" style="margin-left: 0px;">Password</label>
                    <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;">
                        </div>
                        <div class="form-notch-middle" style="width: 64px;">
                        </div>
                        <div class="form-notch-trailing">
                        </div>
                    </div>
                </div>
            </section>
        </div>       
        <div class="p-4 text-center border-top">
            <button type="button" class="btn btn-primary m-1" @click="login()">Login</button>
            <button
                type="button"
                class="btn btn-outline-primary m-1"
                data-mdb-toggle="modal"
                data-mdb-target="#exampleModal"
                >
                Register
            </button>
        </div>


        <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resgister</h5>
                <button
                type="button"
                class="btn-close"
                data-mdb-dismiss="modal"
                aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <section class="w-100 p-4 d-flex justify-content-center pb-4">
                    <div class="form-outline" style="width: 22rem;">
                    <input type="text" id="name" class="form-control" v-model="name">
                    <label class="form-label" for="name" style="margin-left: 0px;">Full Name</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;">
                            </div>
                            <div class="form-notch-middle" style="width: 64px;">
                            </div>
                            <div class="form-notch-trailing">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="w-100 p-4 pt-0 d-flex justify-content-center pb-4">
                    <div class="form-outline" style="width: 22rem;">
                    <input type="text" id="user_name" class="form-control" v-model="userName">
                    <label class="form-label" for="user_name" style="margin-left: 0px;">User Name</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;">
                            </div>
                            <div class="form-notch-middle" style="width: 64px;">
                            </div>
                            <div class="form-notch-trailing">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="w-100 p-4 pt-0 d-flex justify-content-center pb-4">
                    <div class="form-outline" style="width: 22rem;">
                    <input type="text" id="role" class="form-control" v-model="role">
                    <label class="form-label" for="role" style="margin-left: 0px;">Role</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;">
                            </div>
                            <div class="form-notch-middle" style="width: 64px;">
                            </div>
                            <div class="form-notch-trailing">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="w-100 p-4 pt-0 d-flex justify-content-center pb-4">
                    <div class="form-outline" style="width: 22rem;">
                    <input type="email" id="email" class="form-control" v-model="email">
                    <label class="form-label" for="email" style="margin-left: 0px;">email</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;">
                            </div>
                            <div class="form-notch-middle" style="width: 64px;">
                            </div>
                            <div class="form-notch-trailing">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="w-100 p-4 pt-0 d-flex justify-content-center pb-4">
                    <div class="form-outline" style="width: 22rem;">
                    <input type="password" id="password" class="form-control" v-model="password">
                    <label class="form-label" for="password" style="margin-left: 0px;">Password</label>
                        <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px;">
                            </div>
                            <div class="form-notch-middle" style="width: 64px;">
                            </div>
                            <div class="form-notch-trailing">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
                </button>
                <button type="button" class="btn btn-primary" @click="register()">Save</button>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'Login',
    data(){
        return {
            name: '',
            userName: '',
            role: '',
            email: '',
            password: ''
        }
    },
    methods: {
        login () {
            axios.post('https://api.winassessoria.com/public/api/v1/login', {
                'user_name': this.userName,
                'password': this.password
            })
            .then(res => {
                localStorage.setItem(res.data.token_type, res.data.access_token)
                document.location.reload(true)
            })
        },
        register () {
            axios.post('https://api.winassessoria.com/public/api/v1/register', {
                'name': this.name,
                'user_name': this.userName,
                'user_profile_id': this.role,
                'email': this.email,
                'password': this.password
            })
            .then(res => {
                console.log(res.data);
                document.location.reload(true)
            })
        }
    }
}
</script>

<style>
.login {
    width: 70%;
}
</style>